{#include layout/page.html}
{#fragment id=content}
  <ul class="nav page-nav nav-pills p-3 container">
    <li class="nav-item nav-left">
      <button class="nav-link" hx-get="{uri:BoardController.leaderboard(boardId)}" hx-target="#content">
        <i class="bi bi-arrow-clockwise"></i>
        <span class="d-none d-lg-block">Refresh</span>
      </button>
    </li>
    <li class="nav-item text-center">
        <h3><i class="bi me-3 bi-trophy"></i>{boardName}</h3>
    </li>
    <li class="nav-item nav-right" hx-get="{uri:GameController.startGameFromBoard(boardId)}" hx-target="#content">
      <button class="nav-link">
      <i class="bi bi-play-circle"></i>
      <span class="d-none d-lg-block">New Game</span>
      </button>
    </li>
  </ul>
  <div class="container overflow-auto leaderboard content-page p-3 flex-grow-1">
    <div class="mt-2 mb-5">
      {#if flash:score}
        <div class="alert alert-success d-flex align-items-center mb-4 game-completed" role="alert" _="on load call playSound('blasted', 100)">
            <i class="blast-score bi flex-shrink-0 me-4"></i>
            <div>
              <div class="mb-2">
                {#if flash:newScore}
                  Congratulation, you blasted it all.
                {#else if flash:newBestScore}
                  Awesome, this is a new personal best.
                {#else}
                  You didn't beat your best score
                {/if}
                Your subatomic score is:
              </div>
              <div class="score">{flash:score} <span class="unit">points</span></div>
            </div>
        </div>
      {/if}

      {#for item in leaderboard}
        <div class="score-item{#if item.isMe} me{/if}">
            <div class="rank">
              {item.rank}
            </div>
            <div class="text-start avatar">
              {#gravatar item.userEmail size=50 default='mm' class="rounded-circle me-2"/}
            </div>
            <div class="text-start username flex-grow-1"{#if inject:user.isAdmin} title="{item.userEmail}"{/if}>
              {item.userName}
            </div>
            <div class="score text-end">
              {item.score} <span class="unit d-lg-none">p</span><span class="unit d-none d-lg-inline">points</span>
            </div>
          </div>
      {/for}
    </div>
  </div>
{/fragment}