<div class="alert alert-success d-flex align-items-center mt-5 mb-4 game-completed" role="alert" _="on load call playSound('blasted', 100)">
    <i class="blast-score bi flex-shrink-0 me-2"></i>
    <div>
      <div class="mb-2">Congratulation, you blasted it all, your subatomic score is: </div>
      <div class="score">{game.score} <span class="unit">points</span></div>
    </div>

</div>
<form hx-post="{uri:GameController.saveScore(game.id)}" hx-target="#content">
  <h1>Save this score</h1>
  <button type="submit" class="btn btn-primary">Save</button>
</form>