{@rest.GameController$GameData game}

<div class="game-grid container text-center">
  {#for row in game.grid()}
    <div class="row flex-nowrap">
      {#for col in row}
        {#if !col.blasted}
          <div class="col cell {col.type}"
            _="
            on click
            if $from exists add .selected to me
              then add .locked to .game-grid
              then send playSwap(from:$from, to:'{col.coords}')
              then set $from to null
            else
              add .selected to me
              then set $from to '{col.coords}'
            "
            hx-post="{uri:GameController.play(game.id)}"
            hx-vals='js:\{ from: event.detail.from, to: event.detail.to}' hx-target="#content"
            hx-trigger="playSwap"
            hx-target="#content"
          >
            <div class="quark-icon"></div>
            {col.charge}
          </div>
        {#else if col.charge > 0}
        <div class="col cell blasted" _="on load blast(me, '{col.type}', {col.charge}/1000)"><div class="quark-icon"></div></div>
        {#else}
        <div class="col cell blasted"><div class="quark-icon"></div></div>
        {/if}
      {/for}
    </div>
  {/for}
</div>