<!DOCTYPE html>
<html>
  <head>
    <title>Quarkus Blast</title>
    <link rel="icon" href="/static/images/logo.svg" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#bundle /}
  </head>
  <body>
    <main hx-ext="morph" hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'>
      <div id="sidebar" class="sidebar offcanvas-lg offcanvas-start navbar-expand-md d-flex flex-column p-3 text-white bg-dark">
        {#include layout/sidebar.html /}
      </div>
      <div class="d-flex flex-column flex-grow-1 bg-light">
        <div class="navbar navbar-expand-lg p-3">
          <div class="container-fluid">
            <button type="button" id="sidebar-button" class="sidebar-toggler navbar-toggler d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
              <i class="bi bi-list"></i>
            </button>
          </div>
        </div>
        <div id="content" class="d-flex flex-column flex-grow-1 mt-2 align-items-center">
          {#if flash:message}
          <div class="alert alert-{flash:messageType ?: 'success'}">
            {flash:message}
          </div>
          {/if}
          {#if !inject:user}
            {#include layout/login.html}{/include}
          {#else}
            {#insert /}
          {/if}
        </div>
      </div>
    </main>
  </body>
</html>