<div class="offcanvas-header d-flex justify-content-between">
  <a href="/" class=" d-flex align-items-center  me-md-auto text-white text-decoration-none">
    <img class="bi me-2" width="40" height="32" src="/images/logo.svg"/>
    <span class="fs-4">Blast</span>
  </a>
  <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#sidebar"></button>
</div>
<hr>
{#if inject:user}
  {#if inject:user.isAdmin}
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" hx-push-url="true" hx-get="{uri:BoardController.create}"  hx-target="#content" data-bs-dismiss="offcanvas" data-bs-target="#sidebar">
        <button class="nav-link text-nowrap">
        <i class="bi bi-plus-square-dotted"></i>
        Create new board
        </button>
      </li>
    </ul>
    <hr>
  {/if}
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" >
      <button class="nav-link text-nowrap" hx-get="{uri:GameController.guide}" hx-target="#content" hx-push-url="true" data-bs-dismiss="offcanvas" data-bs-target="#sidebar">
        <i class="me bi bi-patch-question"></i>
        Guide
      </button>
    </li>
  </ul>
  <hr>
  <h3>Games</h3>
  {#include GameController/gamePicker.html /}
  <hr>
  {#user inject:user img=true size=32/}
{#else}
  <div class="mb-2">Login with:</div>
  <ul class="nav nav-pills flex-column mb-auto">
      {#if OIDC_GITHUB}{#oidcItem name="github" title="GitHub"/}{/if}
      {#if OIDC_GOOGLE}{#oidcItem name="google" title="Google"/}{/if}
      {#if DEV_USER}
        <li class="nav-item">
          {#form uri:UserController.loginDev}
            <button class="nav-link">
            <i class="bi bi-person-gear"></i>
            Dev User
            </button>
          {/form}
        </li>
      {/if}
  </ul>
{/if}
