.cell, .quark-type {
  padding: 75px 5px 5px;
  margin: 5px;
  height: 100px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 60px;
  background-position-y: top;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid transparent;

  &.selected {
    background-color: var(--blast-selected);
  }

  &.swappable {
    border: 2px dashed var(--blast-selected);
  }

  &.up {
    background-image: url("../quarks/up.svg");
  }

  &.down {
    background-image: url("../quarks/down.svg");
  }

  &.charm {
    background-image: url("../quarks/charm.svg");
  }

  &.strange {
    background-image: url("../quarks/strange.svg");
  }

  &.top {
    background-image: url("../quarks/top.svg");
  }

  &.bottom {
    background-image: url("../quarks/bottom.svg");
  }

  &.blasted, &.dragged {
    cursor: auto;
    background-image: url("../quarks/blasted.svg") !important;
  }

  &.blasted {
    background-size: 90px;
  }

  &.dragged {
    border: 1px solid red;
  }
}

@keyframes blast-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.game-completed .score {
  display: inline-block
}

.blast-effect {
  animation: blast-animation 0.5s ease-in-out;
}

.quark-type {
  padding: 37px 5px 5px;
  height: 70px;
  background-size: 35px;
  font-weight: normal;
}

.game-container {
  max-width: 700px;

  .score {
    border: 3px solid #FFDAB9; /* Pastel Peach Puff */
    padding: 10px;
    border-radius: 100px;
    min-width: 100px;
    text-align: center;
    background-color: white;
    z-index: 1;
  }
}

.score {
  color: #555555; /* Dark Gray */
  font-size: 24px;
  font-weight: bold;
  .unit {
    color: #777777
  }
}

.blast-score {
  background-image: url("../quarks/blasted.svg");
  height: 50px;
  width: 45px;
  background-size: 40px;
  background-repeat: no-repeat;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.score-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 0;
  border-bottom: 3px solid #FFDAB9;
}



.quark-picker {
  margin-top: 20px;
  margin-bottom: 20px;
}