.nav-item.oidc {
  img {
    vertical-align: text-top;
    height: 16px;
    margin-right: 5px;
  }
}

.user-nav {
  display: flex;
  flex-direction: column;
}

.nav.game-nav {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}