:root {
  --blast-selected: #F6E4D1;
}

.sidebar .nav {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: #FAC898;

  .nav-link.selected {
    --bs-nav-link-color: #FAC898;
  }
}

.nav.game-nav {
  --bs-nav-link-color: var(--bs-body-color);;
}

