@font-face {
  font-family: 'SyneMono';
  src: url("../fonts/SyneMono-Regular.ttf") format("truetype");
}

@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "variables";


html, body {
  font-family: SyneMono, monospace;
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

h1 {
  text-align: center;
}

#content {
  min-height: 0;
}

.content-page {
  min-height: 0;
}

.page-nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-left, .nav-right {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
  }

  .nav-left { left: 0; }
  .nav-right { right: 0; }
}

@import "sidebar";
@import "blast";
@import "leaderboard";
