{#include layout/page.html}
{#fragment id=content}
  {#if game}
    <div class="text-center game-container d-flex flex-grow-1 flex-column">
      <div class="flex-grow-1 justify-content-center d-flex flex-column order-lg-1">
        {#include GameController/partials/grid.html}{/include}
        {#include GameController/partials/score.html}{/include}
      </div>
      {#include GameController/partials/nav.html}{/include}
    </div>
  {#else}
    <div class="container p-3 mt-3">
      <div class="alert alert-warning" role="alert">
        Game not found
      </div>
    </div>
  {/if}
{/fragment}
