{#include layout/page.html}
{#fragment id=content}
  <div class="container overflow-auto content-page">
    <h3 class="text-center">Guide</h3>
    <div class="mt-1 alert alert-info">
      <p>Quarkus Blast is made with Quarkus server-side rendering and htmx.</p>

      <img src="/static/images/gameplay.gif" height="300px"/>
      <ul>
        <li>6 Quark types (up, down, charm, strange, top, bottom) with different charges.</li>
        <li>Tap a Quark to select it, then tap another Quark to swap their positions.</li>
        <li>If there are adjacent Quarks of the same type, a blast reaction is triggered!</li>
        <li><b>Make big reactions for maximum points!</b></li>
        <li>Watch out for combos! If multiple blast reactions occur simultaneously, it's a combo, yielding even more points.</li>
        <li>No possible reaction, tap the same Quark twice to make it blast.</li>
      </ul>
      <p>Aim to blast it all and conquer the leaderboard!</p>
      <button type="button" class="btn btn-primary" hx-push-url="true" hx-get="{uri:GameController.start}" hx-target="#content">GO BLAST!</button>
    </div>
  </div>
{/fragment}
