<!DOCTYPE html>
<html>
<head>
    <title>Quarkus Blast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#bundleStyle /}
    {#bundleScript /}
</head>
<body>
    <main hx-ext="morph">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
            <h3>Boards</h3>
            {#include QuarkusBlast/boardsNav.html}{/include}
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item" hx-push-url="true" hx-get="{uri:QuarkusBlast.createNewBoard}" hx-target="#content">
                    <button class="nav-link">
                        <i class="bi bi-plus-square-dotted"></i>
                        Create new board
                    </button>
                </li>
            </ul>
        </div>
        <div id="content" class="d-flex flex-column flex-grow-1 p-3 bg-light">
        {#insert /}
        </div>
    </main>
</body>
</html>
