<!DOCTYPE html>
<html>
  <head>
    <title>Quarkus Blast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#bundleStyle /}
    {#bundleScript /}
  </head>
  <body>
    <main hx-ext="morph">
      <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
        {#include sidebar.html /}
      </div>
      <div id="content" class="d-flex flex-column flex-grow-1 p-3 bg-light">
      {#if !inject:user}
        <div class="container text-center game-container">
          <h1>Welcome to Quarkus Blast</h1>
          Please login (on the left menu) before you can do anything.
        </div>
      {#else}
        {#insert /}
      {/if}
      </div>
    </main>
  </body>
</html>