{#user inject:user img=true size=20/}

{#if inject:user}
  <h3>Boards</h3>
  {#include QuarkusBlast/boardsNav.html /}
{/if}
<ul class="nav nav-pills flex-column mb-auto">
  {#if !inject:user}
    Login with:
      {#oidcItem name="github" title="GitHub"/}
      {#oidcItem name="google" title="Google"/}
      {#form uri:QuarkusBlast.testUserLogin}
      	<button>Test User</button>
      {/form}
  {#else}
    <hr>
    {#if game.id}
      <li class="nav-item" hx-push-url="true" hx-post="{uri:QuarkusBlast.restartGame(game.id)}" hx-target="#content">
        <button class="nav-link">
          <i class="bi bi-arrow-clockwise"></i>
          Restart
        </button>
      </li>
    {/if}
    <li class="nav-item" hx-push-url="true" hx-get="{uri:QuarkusBlast.createNewBoard}" hx-target="#content">
      <button class="nav-link">
        <i class="bi bi-plus-square-dotted"></i>
        Create new board
      </button>
    </li>
  {/if}
</ul>